 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(to bottom, #ffa500, #ffcc00);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
    }
    h1 {
      color: #fff;
      text-shadow: 1px 1px 3px #000;
    }

    a{
        color: #fff;
    }
    button  {
      padding: 15px 30px;
      margin: 10px;
      font-size: 1.5rem;
      background: #ff6600;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    }
    button:hover {
      background: #e65c00;
    }
    iframe {
      margin-top: 20px;
      border: none;
      width: 95%;
      height: 400px;
      display: none;
    }